* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: lighter;
  color: rgba(20, 20, 20, 0.7);
}

body {
  width: 100%;
  background: rgba(201, 199, 199, 0.3);
}

header {
  height: 1000px;
}

/*navigation bar*/

.navbar {
  height: 100px;
  margin: 0 15%;
}

.brand {
  float: left;
  padding-top: 20px;
}

.brand .brand-name {
  font-size: xx-large;
  color: rgba(20, 20, 20, 0.7);
}

.brand .second-name {
  font-size: 15.5px;
  color: rgb(224, 84, 52);
}

.nav-links {
  float: right;
  padding-top: 42px;
}

.nav-links li {
  list-style: none;
  display: inline-block;
}

.nav-links li a {
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.nav-links li a:hover {
  background: rgb(224, 84, 52);
  color: white;
  border-radius: 25px;
}

.first-section {
  background-image: url("../img/back1.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 900px;
}

.centered-text {
  text-align: center;
  padding-top: 250px;
}

.centered-text h1,
span {
  color: #fff;
  font-weight: lighter;
}

.centered-text h1 {
  font-size: 60px;
  font-weight: lighter;
}

.centered-text span {
  font-size: 25px;
}

.img-card {
  width: 908px;
  height: 554px;
  margin: auto;
}

.top-section,
.top2-section {
  display: inline-block;
  vertical-align: top;
}

.img-section-1 {
  vertical-align: top;
}

.top-section .img-section-1,
.top-section .img-section-2 {
  display: inline-block;
}

.img-section-1 h1,
.img-section-1 p,
.img-section-2 h1,
.img-section-2 p,
.img-section-3 h1,
.img-section-3 p {
  padding: 10px;
  color: #fff;
  text-align: center;
}

.img-card p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #fff;
  opacity: 0.8;
}

.top-section .img-section-1,
.top-section .img-section-2,
.img-section-3 {
  width: 300px;
  padding: 50px;
}

.img-section-1 img,
.img-section-2 img,
.img-section-3 img {
  display: block;
  margin: auto;
  width: 100px;
}

.centered-button {
  display: block;
  margin: auto;
  padding: 0.7rem 2rem;
  background: #fff;
  color: brown;
  border-radius: 20px;
  cursor: pointer;
  border-style: unset;
}

.centered-button:hover {
  background: rgb(224, 84, 52);
  color: #fff;
  border-style: unset;
}

/* second section */

.second-section {
  height: 577px;
  background: rgba(201, 199, 199, 0.3);
}

.second-card {
  width: 908px;
  height: 450px;
  margin: auto;
}

.second-card-child-1,
.second-img-section {
  display: inline-block;
}

.second-card-child-2 {
  display: inline-block;
}

.second-section-title {
  text-align: center;
  padding: 50px;
  font-weight: bold;
}

.second-img-section {
  width: 300px;
  padding: 0 20px 20px 20px;
}

.second-img-section img {
  width: 180px;
  display: block;
  margin: auto;
}

.second-img-section h1 {
  padding-top: 20px;
  color: rgba(20, 20, 20, 0.8);
  text-align: center;
  font-weight: bold;
}

.second-img-section h1,
.second-img-section p {
  color: rgba(20, 20, 20, 0.8);
}

.second-centered-button {
  display: block;
  margin: auto;
  margin-top: 25px;
  padding: 1rem 3rem;
  border-radius: 25px;
  background: #fff;
  border-style: unset;
  cursor: pointer;
}

/*third section*/

.third-section {
  height: 350px;
  background-image: url("../img/back.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

.third-section-text {
  padding: 55px 5px;
}

.third-section-text h1,
p {
  text-align: center;
}

.third-section-text h1 {
  font-size: 40px;
  color: #fff;
}

.third-section-text p {
  color: #fff;
  opacity: 0.9;
}

.signUp {
  width: 505px;
  display: block;
  margin: auto;
}

.inputForm,
.signUpButton {
  display: inline-block;
}

.inputForm {
  padding: 14px 70px;
  border-radius: 25px;
  border: 1px solid #fff;
  background: #ffffff36;
}

.inputForm::placeholder {
  color: white;
  opacity: 1;
}

.signUpButton {
  padding: 1rem 5rem;
  border-radius: 25px;
  background: #fff;
  border-style: unset;
  color: brown;
  cursor: pointer;
  margin-left: -50px;
}

.signUpButton:hover {
  background: rgb(224, 84, 52);
  color: #fff;
  border-color: rgb(224, 84, 52);
}

/* fourth section */

.fourth-section {
  background: #fff;
  padding-top: 40px;
  height: 700px;
}

.fourth-div {
  display: block;
  width: 80%;
  margin: auto;
}

.top-left,
.bottom-right {
  display: block;
  margin: auto;
  width: 80%;
}

.text-left,
.box-right {
  display: inline-block;
}

.text-left {
  width: 380px;
  height: 200px;
  padding-top: 10px;
  padding-right: 50px;
  vertical-align: top;
}

.text-left p {
  padding: 20px 0;
  text-align: start;
}

.box-right {
  width: 350px;
  height: 300px;
  border: 1px solid gray;
}

.second-signUp-button {
  margin-top: 8px;
  padding: 1rem 5rem;
  border-radius: 25px;
  background: rgb(224, 84, 52);
  border-style: unset;
  color: #fff;
  cursor: pointer;
}

.bottom-right {
  margin-top: 20px;
}

.box-left,
.text-right {
  display: inline-block;
}

.box-left {
  width: 350px;
  height: 300px;
  border: 1px solid gray;
}

.text-right {
  width: 380px;
  height: 200px;
  padding-top: 0px;
  padding-left: 50px;
}

.text-right p {
  padding: 20px 0;
  text-align: start;
}

.third-signUp-button {
  margin-top: 8px;
  padding: 1rem 5rem;
  border-radius: 25px;
  background: rgb(70, 68, 68);
  border-style: unset;
  color: #fff;
  cursor: pointer;
}

/* fifth section */

.fifth-section {
  background: rgb(243, 112, 52);
  height: 300px;
}

.lists {
  display: block;
  width: 506px;
  margin: auto;
  padding-top: 40px;
  height: 250px;
}

.lists div {
  width: 166px;
  display: inline-block;
  vertical-align: top;
}

.fifth-section li {
  list-style: none;
  text-align: center;
  padding: 2px;
}

.fifth-section li a {
  text-decoration: none;
  color: #fff;
}

/* footer */

footer {
  height: 350px;
  background-image: url("../img/back.webp");
  background-position: cover;
  background-repeat: no-repeat;
}

.final-text {
  padding-top: 80px;
  color: #ffffffa1;
}

.final-text span {
  color: rgb(255, 255, 255);
}

/* -----------responsive--------------- */

@media screen and (max-width: 1150px) {
  .box-left,
  .box-right {
    display: none;
  }

  .text-left,
  .text-right {
    display: block;
    width: auto;
    margin: auto;
    padding: 0;
  }

  .top-left {
    height: 300px;
  }
}

@media screen and (max-width: 970px) {
  .navbar {
    margin: 0 5%;
  }
}

@media screen and (max-width: 765px) {
  .nav-links li a {
    font-size: 13px;
  }
}

@media screen and (max-width: 690px) {
  .nav-links {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  header {
    height: 1409px;
  }

  .first-section {
    height: 1309px;
  }

  .top-section {
    display: block;
    width: 660px;
    margin: auto;
  }
  .top-section .img-section-2 {
    width: 355px;
  }

  .top2-section {
    width: 300px;
    display: block;
    margin: auto;
  }

  .top-section .img-section-1,
  .top-section .img-section-2 {
    display: inline-block;
  }

  .img-card {
    width: 700px;
  }

  /* second section */
  .second-section {
    height: 860px;
  }

  .second-card {
    margin: 0;
    width: 100%;
    height: 733px;
  }

  .second-card-child-1 {
    display: block;
    width: 605px;
    margin: auto;
  }

  .second-card-child-2 {
    display: block;
    width: 300px;
    margin: auto;
    padding-top: 10px;
  }
}

@media screen and (max-width: 768px) {
  /* first section */
  .centered-text {
    padding-top: 100px;
  }

  header {
    height: 1750px;
  }

  .first-section {
    height: 1650px;
  }

  .img-card {
    width: 300px;
  }

  .top-section,
  .top2-section {
    display: block;
  }

  .top-section .img-section-1,
  .top-section .img-section-2,
  .top2-section .img-section-3 {
    display: block;
    width: 100%;
    padding: 40px;
  }

  /* second section */
  .second-section {
    height: 1200px;
  }

  .second-img-section {
    padding: 0 20px 28px 20px;
  }

  .top-section,
  .top2-section,
  .second-card-child-1,
  .second-card-child-2 {
    display: block;
    width: 300px;
  }

  .second-card-child-1 .second-img-section {
    display: block;
    width: 100%;
  }

  /* third section */
  .third-section-text {
    display: block;
    margin: auto;
    width: 300px;
  }

  .signUp{
    width: 300px;
  }

  .signUpButton {
    padding: 1rem 2rem;
    margin-left: -112px;
  }
  /* fourth section  */
  .fourth-section{
    height: 800px;
  }

  .fourth-div{
    height: 100%;
  }


  .box-left,
  .box-right {
    display: none;
  }

  .text-left,
  .text-right {
    display: block;
    width: auto;
    margin: auto;
    padding: 0;
  }

  .top-left,.bottom-right {
    height: 350px;
  }

  /* fifth section */
  .lists {
    width: 308px;
  }

  .lists div {
    width: 100px;
  }
}
